/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.kontejner {
	display: flex;
}

nav,
header,
footer,
article  {
	padding: 15px;
}

header,
footer {
	height: 150px;
}

article {
	height: 500px;
}

.box {
	flex-grow: 1;
}

nav {
	flex-basis: 10%;
}